*{
    box-sizing:border-box;
    margin:0;
}

li{
    list-style-type: none;
}

.task{
    padding:0.3rem;
    border-bottom:1px solid #2973b7;
    background:#2973b7;
}

.task-num{
    float:right;
    display:inline-block;
    padding:0.3rem 0.5rem;
    background:#99CCFF;
}