*{
    box-sizing:border-box;
    margin:0;
}

html{
    height:100%;
    background:#333;
}

li{
    list-style-type: none;
}

.hide{
    display:none;
}

.task-list{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
}
.mask{
    background:#333;
    opacity:0.4;
}

.task{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
    height:1.5rem;
    padding-left:0.4rem;
    line-height:1.5rem;
    border-bottom:1px solid #fff;
    background:#2973b7;
    color:#fff;
}
.task.finish{
    color:#ccc;
}

.task-num,.task-name{
    display:inline-block;
}

.task-num{
    float:right;
    width:1rem;
    text-align:center;
    background:#9cf;
}

.info{
    position:absolute;
    width:100%;
    padding:0.25rem;
}
.task-finish,.task-del{
    position:absolute;
    height:1rem;
    z-index:-1;
}
.task-finish{
    left:0.3rem;
}
.task-del{
    right:0.3rem;
}

.task-create .task{
    transform-style:preserve-3d;
    transform-origin:bottom center;
}
input[name=task-name]{
    height:100%;
    width:8rem;
    background:transparent;
    border:none;
    outline:none;
}